# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment files
.env

# Build output
dist/
build/

# IDE settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db
